<h3>Frequently Asked Questions (FAQs)</h3>

<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        How to Log-in?
      </mat-expansion-panel-header>
  
      Curabitur aliquet quam id dui posuere blandit. Nulla quis lorem ut libero malesuada feugiat.
  
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        How to Log-out?
      </mat-expansion-panel-header>
  
      Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
  
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Can I delete a profile?
        </mat-expansion-panel-header>

        Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            How to add a contact?
        </mat-expansion-panel-header>

        <p>Proin eget tortor risus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada.</p>

        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>

    </mat-expansion-panel>
  
  </mat-accordion>
